<head><meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" /></head>

<script>
 function preback(){window.history.forward();}
   setTimeout("preback()",0);
   window.onunload=function(){null}
</script> 



<div class="container d-flex justify-content-center p-5 mt-5">
    <div class="d-flex justify-content-center h-100">
         <div class="card" style=" background-color: transparent">
              <div class="card-header d-flex justify-content-center">
				<h3 style="color: aliceblue;">Register</h3>
			</div>
            <div class="card-body">

                {{!-- <form action="/register" method="POST" onsubmit="return validateform()" name="myform" autocomplete="off"> --}}
                <form action="/admin/adminregister" method="POST" onsubmit="return checkForm(this);" name="myform" autocomplete="off">
                      
                     <div class="form-group">
                         <label for="username" style="color: aliceblue;">UserName</label>
                        <input type="text" id="username" style="text-color: aliceblue;"  name="username" required placeholder="Enter UserName" class="form-control" style=" background-color: transparent "> 
                    </div>
                     <div class="form-group">
                    <label for="phone" style="color: aliceblue;" onkeyup="phonenumber(document.form1.text1)">Mobile No:</label>
                        <input type="tel  " name="phone" style="text-color: aliceblue;"  id="phone" required class="form-control" placeholder="Mobile Number" style=" background-color: transparent " maxlength="10" > 
                    </div>
                    <div class="form-group">
                        <label for="password" style="color: aliceblue;">Password:</label>
                        <input type="password" onkeyup='check();' style="text-color: aliceblue;"  id="password" name="password" placeholder="Enter Password" class="form-control" required style=" background-color: transparent " maxlength="6"> 
                    </div>
                    <div class="form-group">
                        <label for="password" style="color: aliceblue;">Confirm Password:</label>
                        <input type="password" onkeyup='check();' id="confirm_password" name="confirm_password" placeholder="Enter Password" class="form-control" maxlength="6" required style=" background-color: transparent "> 
                    </div>
                     <span id='message' ></span>
             		<div class="form-group">
                    	<button type="submit" value="Create User" style="text-color: aliceblue;"  class="btn btn-warning btn-block float-right login_btn">Create User</button>
					</div>
                    <br><br>
                    <div class="form-group">
                   
                    	<a href="/admin/adminwelcome"><button type="button" value="BACK" class="btn btn-warning btn-block float-right login_btn" >BACK</button></a>
                     
					</div>

                 
                </form>

            </div>
         </div>
    </div>
</div>


<script type="text/javascript">

  function checkForm(form)
  {
    if(form.username.value == "") {
      alert("Error: Username cannot be blank!");
      form.username.focus();
      return false;
    }
      if(form.password.value != "" && form.password.value == form.confirm_password.value) {
      if(form.password.value.length < 10) {
        alert("Error: Password must contain at least 10 characters!");
        form.password.focus();
        return false;
      }
      if(form.password.value == form.username.value) {
        alert("Error: Password must be different from Username!");
        form.password.focus();
        return false;
      }
      re = /[0-9]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one number (0-9)!");
        form.password.focus();
        return false;
      }
      re = /[a-z]/;
      if(!re.test(form.password.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)!");
        form.password.focus();
        return false;
      }
   else {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.password.focus();
      return false;
    }

  }

</script>



<script>
    var check = function() {
  if (document.getElementById('password').value ==  document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'white';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}

</script>

