 <script>
   function preback(){window.history.forward();}
   setTimeout("preback()",0);
   window.onunload=function(){null};
 </script> 


<div class="container d-flex justify-content-center p-5 mt-5">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style=" background-color: transparent">
              <div class="card-header d-flex justify-content-center">
				<h3 style="color: aliceblue;">LOGIN</h3>
			</div>
            <div class="card-body">

                <form action="/login" method="POST" class="mb-4" autocomplete="off">
                                 {{#if msg}}
                                <div class="alert alert-success" role="alert">
                                    <p style="color :rgb(26, 29, 32)"></li>{{msg}}
                                    <button type="button" class="close " data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></p>
                                </div>
                                {{/if}}
                     <div class="form-group">
                        <label for="username" style="color: aliceblue;">USERNAME</label>
                        <input type="text" style="text-color: aliceblue;"  name="username" placeholder="Enter UserName" class="form-control" id="xyz" style=" background-color: transparent "> 
                    </div>
                    <div class="form-group">
                        <label for="password" style="color: aliceblue;">PASSWORD</label>
                        <input type="password" style="text-color: aliceblue;"  name="password" placeholder="Enter Password" class="form-control" id="password" style=" background-color: transparent "> 
                    </div>
					<div class="form-group">
                    	<button type="submit" value="LOGIN" class="btn btn-warning btn-block float-right login_btn">Login</button>
                      <br><br>
                      	<a href="/register"><button type="button" value="SIGNUP" class="btn btn-warning btn-block float-right login_btn" >SignUp</button></a>
					</div>
    

                 
                </form>

            </div>
         </div>
    </div>
</div>
