<div class="col-12">
    <h1 class="mt-1">PROFILE</h1>
    <h4>Welcome {{username}}</h4>
    <form method="POST" action="/logout">
        <button type="submit" class="btn btn-dark">Log Out</button>
    </form>
</div>





<div class="card " style=" background-color: transparent">
        <div class="card-header">
				  <form action="/logout" method="POST">
                        <div class="form-group" >
                            <button type="submit" value="SIGNUP" class="btn btn-warning float-right login_btn"  ><a href=""></a>LOGOUT</a></button>
                        </div>
               
                    </form>
			</div>
  <div class="card-body">
    <h3 class="card-title" style="color: aliceblue;">Profile</h3>

    <p style="color: aliceblue;">
        Welcome.... {{username}}
    </p>
    <p class="card-text"></p>
 
  
  </div>
</div>


