
 <script>
   function preback(){window.history.forward();}
   setTimeout("preback()",0);
   window.onunload=function(){null};
 </script> 



<div class="card " style=" background-color: transparent">
        <div class="card-header">
				  <form action="/logout" method="POST">
                        <div class="form-group" >
                            <button type="submit" value="SIGNUP" class="btn btn-warning float-right login_btn"  ><a href=""></a>LOGOUT</a></button>
                        </div>
               
                    </form>
			</div>
  <div class="card-body">
    <h3 class="card-title" style="color: aliceblue;">Profile</h3>

    <p style="color: aliceblue;">
        Welcome.... {{username}}
    </p>
    <p class="card-text"></p>
 
  
  </div>
</div>


